.frame-child28 {
  position: relative;
  border-radius: 50%;
  background-color: var(--gray);
  width: 0.25rem;
  height: 0.25rem;
}
.ellipse-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-group,
.frame-parent {
  position: absolute;
  width: 6.44rem;
  height: 6.44rem;
  display: flex;
  flex-direction: column;
}
.frame-parent {
  top: 70.88rem;
  left: 85.19rem;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-group {
  top: 31.94rem;
  left: 86.88rem;
}
.ellipse-parent15,
.frame-container,
.frame-group {
  align-items: flex-start;
  justify-content: space-between;
}
.ellipse-parent15 {
  align-self: stretch;
  display: none;
  flex-direction: row;
}
.frame-container {
  position: absolute;
  top: 9.06rem;
  left: 2.88rem;
  width: 6.81rem;
  height: 3.06rem;
  display: flex;
  flex-direction: column;
}
.background-child,
.background-item {
  position: absolute;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 9.69rem;
  height: 9.69rem;
}
.background-child {
  top: 60.31rem;
  left: 0;
}
.background-item {
  top: 0;
  left: 85.94rem;
}
.background {
  position: absolute;
  top: 16rem;
  left: -4.81rem;
  width: 95.63rem;
  height: 77.31rem;
}
.footer-child {
  position: relative;
  border-top: 1px solid var(--gray);
  box-sizing: border-box;
  width: 85.44rem;
  height: 0.06rem;
}
.union-child17,
.union-child18 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 0;
  right: 25%;
  bottom: 75%;
  left: 50%;
  background-color: var(--white);
}
.union-child18 {
  top: 50%;
  right: 0;
  bottom: 25%;
  left: 75%;
}
.union-child19,
.union-child20,
.union-child21,
.union-child22,
.union-child23,
.union-child24 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 25%;
  right: 0;
  bottom: 50%;
  left: 75%;
  background-color: var(--white);
}
.union-child20,
.union-child21,
.union-child22,
.union-child23,
.union-child24 {
  top: 0;
  bottom: 75%;
}
.union-child21,
.union-child22,
.union-child23,
.union-child24 {
  top: 50%;
  right: 25%;
  bottom: 25%;
  left: 50%;
}
.union-child22,
.union-child23,
.union-child24 {
  top: 25%;
  right: 50%;
  bottom: 50%;
  left: 25%;
}
.union-child23,
.union-child24 {
  right: 75%;
  left: 0;
}
.union-child24 {
  top: 50%;
  bottom: 25%;
}
.union-child25,
.union-child26 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 75%;
  bottom: 0;
}
.union-child25 {
  right: 75%;
  left: 0;
  background-color: var(--white);
}
.union-child26 {
  right: 50%;
  left: 25%;
}
.union-child26,
.union2 {
  background-color: var(--white);
}
.logo2,
.union2 {
  position: relative;
  width: 1rem;
  height: 1rem;
}
.logo-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.eliaselias-devml {
  position: relative;
  color: var(--gray);
  text-decoration: none;
}
.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.web-designer-and {
  position: relative;
}
.frame-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.media {
  position: relative;
  font-weight: 500;
}
.group-icon {
  position: relative;
  width: 7rem;
  height: 2rem;
}
.frame-parent2,
.media-parent {
  display: flex;
  align-items: flex-start;
}
.media-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-5xl);
}
.frame-parent2 {
  width: 64.06rem;
  flex-direction: row;
  justify-content: space-between;
}
.copyright-2022-made {
  position: relative;
  color: var(--gray);
  display: inline-block;
  width: max-content;
}
.footer,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.footer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 683px);
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-13xl);
  color: var(--white);
}
.contacts2 {
  position: relative;
  font-weight: 600;
  color: var(--white);
}
.parent,
.who-am-i {
  position: absolute;
  left: 0;
}
.parent {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.who-am-i {
  top: 3.5rem;
  font-size: var(--font-size-base);
  color: var(--white);
}
.title {
  position: absolute;
  top: 7.13rem;
  left: 10.69rem;
  width: 10.88rem;
  height: 4.81rem;
  font-size: var(--font-size-13xl);
  color: var(--primary);
}
.small-projects {
  position: relative;
  font-weight: 500;
  color: var(--white);
}
.h2 {
  position: absolute;
  top: 25.19rem;
  left: 10.69rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-13xl);
  color: var(--primary);
}
.twitter-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
}
.media1,
.media2 {
  position: absolute;
  top: 29.19rem;
  left: 10.69rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.media2 {
  top: 29.13rem;
  left: 18rem;
}
.im-interested-in {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.63rem;
  font-weight: 500;
  display: inline-block;
  width: 31.56rem;
}
.im-interested-in-freelance-op-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.56rem;
  height: 4.88rem;
}
.message-me-here {
  position: relative;
  font-weight: 600;
}
.discord-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.instance-parent,
.message-me-here-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-parent {
  gap: var(--gap-5xs);
  color: var(--gray);
}
.message-me-here-parent {
  position: absolute;
  top: 0;
  left: 12.31rem;
  border: 1px solid var(--gray);
  padding: var(--padding-base);
  gap: var(--gap-base);
}
.div6 {
  position: relative;
  color: var(--gray);
}
.support-me-here-parent {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.contact,
.group-div {
  position: absolute;
  height: 8.81rem;
}
.group-div {
  top: 0;
  left: 38.88rem;
  width: 27.44rem;
  color: var(--white);
}
.contact {
  top: 14.81rem;
  left: 10.69rem;
  width: 66.31rem;
}
.logo-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.header-link,
.logo-parent2 {
  cursor: pointer;
}
.header-link,
.header-link1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.en1 {
  position: relative;
  font-weight: 600;
  z-index: 0;
}
.language-switcher-item {
  position: relative;
  width: 0.63rem;
  height: 0.4rem;
  z-index: 1;
}
.ru-group {
  margin: 0 !important;
  position: absolute;
  top: 1.56rem;
  left: 0;
  background-color: var(--background);
  border: 1px solid var(--gray);
  box-sizing: border-box;
  height: 0.06rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  opacity: 0;
  z-index: 2;
}
.language-switcher1 {
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-9xs);
  color: var(--gray);
}
.header-link-parent,
.header2,
.language-switcher1 {
  display: flex;
  flex-direction: row;
}
.header-link-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  color: var(--primary);
}
.header2 {
  position: absolute;
  top: 0;
  left: 10.69rem;
  background-color: var(--background);
  width: 64rem;
  padding: var(--padding-13xl) 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--white);
}
.line-10-stroke {
  position: relative;
  width: 0.06rem;
  height: 11.94rem;
}
.github-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.contacts1,
.media3 {
  background-color: var(--background);
}
.media3 {
  position: absolute;
  top: 0;
  left: 1.06rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.contacts1 {
  position: relative;
  width: 100%;
  height: 49.38rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--gray);
  font-family: var(--font-fira-code);
}
